<div class="container">
  <h1>Sintra Sandbox</h1>
  

  <h3> get box </h3>
  <form action="/cool_url" method="get">
    <input type="textarea" name="user_input">
    <input type="submit" value="Submit!">
  </form>
  <br>
  <h3> post box </h3>
  <form action="/cool_url" method="post">
    <textarea cols="40" rows="5" name="user_input"></textarea>
    <input type="submit" value="Submit!">
  </form>
  <br>
  <form action="/dairy_item" method="get">
    <input type="radio" name="group1" value="Milk"> Milk<br>
    <input type="radio" name="group1" value="Butter" checked> Butter<br>
    <input type="radio" name="group1" value="Cheese"> Cheese
    <input type="submit" value="Submit!">
  </form>
  <br>
  <form action="/drink" method="post" >
    <input type="radio" name="group2" value="Water"> Water<br>
    <input type="radio" name="group2" value="Beer"> Beer<br>
    <input type="radio" name="group2" value="Wine" checked> Wine
    <input type="submit" value="Submit!">
  </form>
  <br>
  <form action="/grocery_list" method="get">
    <select name="item_select">
    <option value="Milk">Fresh Milk</option>
    <option value="Cheese">Old Cheese</option>
    <option value="Bread">Hot Bread</option>
    <input type="submit" value="Submit!">
  </form>
</select>

</div>
  